/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:auto; padding:5px 0px 5px 0px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}


.background_color{
  background: #7263bc;
  border-radius: 0;
}
.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px; background: #7263bc;border-radius: 0px;}
